<% include ../partials/header %>

    <div class="row">
        <h1 style="text-align: center;">Edit <%= campground.name %></h1>
        
        <div style="width: 30%; margin: 25px auto;">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="campground[name]" value="<%= campground.name %>" placeholder="NAME">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="campground[price]" value="<%= campground.price %>" placeholder="PRICE" min="0" step="1">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="campground[image]" value="<%= campground.image %>" placeholder="IMAGE URL">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="campground[description]" value="<%= campground.description %>" placeholder="DESCRIPTION">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Update!</button>
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>

<% include ../partials/footer %>